@model Pousada.Models.Conta

@{
    ViewData["Title"] = "Conta";
}

<h1>Excluir Conta</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            Número do Quarto
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Reserva.Quarto.Numero)
        </dd class>
        <dt class = "col-sm-3">
            ValorTotal
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-3">
            Forma de Pagamento
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>
        <dt class = "col-sm-3">
            Status do Pagamento
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.StatusPagamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar" class="btn btn-dark" /> |
        <a type="button" class="btn btn-light" asp-action="Index">Lista de Contas</a>
    </form>
</div>