@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Reservas</h1><br>
    <a type="button" class="btn btn-dark" asp-controller="Reserva" asp-action="Create">Fazer Reserva</a>
    <a type="button" class="btn btn-dark" asp-controller="Hospede" asp-action="Index">Verificar Cadastro</a>
    <a type="button" class="btn btn-dark" asp-controller="Hospede" asp-action="Create">Cadastrar Hospede</a>
    <a type="button" class="btn btn-dark" asp-controller="Quarto" asp-action="Create">Cadastrar Quarto</a>
</div>
