@model Pousada.Models.RelatorioDiario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RelatorioDiario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Telefonema" /> @Html.DisplayNameFor(model => model.Telefonema)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Alimentacao" /> @Html.DisplayNameFor(model => model.Alimentacao)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ValorTelefonema" class="control-label"></label>
                <input asp-for="ValorTelefonema" class="form-control" />
                <span asp-validation-for="ValorTelefonema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorAlimentacao" class="control-label"></label>
                <input asp-for="ValorAlimentacao" class="form-control" />
                <span asp-validation-for="ValorAlimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
