@model Pousada.Models.RelatorioDiario

@{
    ViewData["Title"] = "Relatório";
}

<h1>Gerar Relatório Diário</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <select asp-for="ContaId" class ="form-control" asp-items="ViewBag.ContaId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Data Incial da Diária</label>
                <input asp-for="DataInicial" class="form-control" />
                <span asp-validation-for="DataInicial" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Telefonema" /> Telefonema
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Alimentacao" /> Alimentação
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-dark" />
                <a type="button" class="btn btn-light" asp-controller="Conta" asp-action="Index">Lista de Contas</a>
            </div>
        </form>
    </div>
</div>